*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Times New Roman","Microsoft YaHei";
	width: 100%;
	height: 100%;

}
html{
	font-size: 100px;
}
i{
	font-style: normal;
}
.conbg{
	background: url('../image/bg.jpg') no-repeat center;
	width: 1140px;
	height: 698px;
	background-size: 100% 100%;
	margin: 0 auto;
	padding-top: 110px;
}
.conbg h1{
	background: url('../image/h-bg.png') no-repeat center;
	height: 90px;
	width: 717px;
	background-size: 100% 100%;
	margin: 0 auto 0;
}
.conbg h2{
	background: url('../image/name.png') no-repeat center;
	height: 36px;
	width: 150px;
	background-size: 100% 100%;
	margin: 50px auto 0;
}
.conbg h3{
	font-size: 62px;
	font-weight: bold;
	text-align: center;
	margin-top: 12px;
}
.conbg .W{
	margin-top: 6px;
	padding:  0 150px;
	font-size: 16px;
}
.conbg .p1{
	margin-top: 30px;
	line-height: 28px;
	font-size: 18px;
	font-weight: bold;
}
.conbg .zhang{
	margin-top: 20px;
}
.conbg .zhang .L{
	float: left;
	background: url('../image/zhang1.png') no-repeat;
	width: 213px;
	height: 138px;
	background-size: 100% 100%;
	margin-left: 150px;

}
.conbg .zhang .R{
	float: right;
	background: url('../image/zhang2.png') no-repeat;
	width: 217px;
	height: 139px;
	background-size: 100% 100%;
	margin-right: 150px;

}
.conbg .last {
	margin-top: 4px;
}
.conbg .last .L{
	font-size: 14px;
	margin-left: 150px;
	float: left;
}
.conbg .last .R{
	font-size: 14px;
	margin-right: 150px;
	float: right;
}
